@model Album

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    @foreach (var photo in this.Model.Photos) {
        <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id"><img src="@photo.ThumbnailUrl" /></a>
    }
</div>