@model PostViewModel;

<div>
        <partial name="_Post" />
        @foreach(var comment in Model.Comments)
        {
            <div>
                <h4>@Html.DisplayFor(model => comment.Name)</h4>
                <p>@Html.DisplayFor(model => comment.Body)</p>
            </div>
        }
</div>