@model IEnumerable<PostViewModel>
<h2>Posts</h2>
@foreach (var post in Model)
{
    <div>
        <img src=@($"https://www.gravatar.com/avatar/{@post.User.GravatarHash}?d=identicon") />
        <a asp-action="Details" asp-route-id="@post.Post.Id"><h4>@post.Post.Title</h4></a>
        <p>@post.User.Username</p>
        <p>@post.Post.Body</p>
    </div>
}